.navbar-button{
  text-decoration: none;
  color: white;
  margin-right: 2%;
}

.card {
  background-color: lightgray;
  margin-bottom: 1%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: gray;
  box-shadow: 24;
  padding: 1%;
};